node_modules
.idea/*
*.iml
.idea/workspace.xml
/im_target/
.vscode/*
/.project
/.settings/
/.idea
/.vscode/
/deploy
/target
/build/
**/node
**/node_modules
**/jsdoc
/**/.idea
*.iml
out/
.DS_Store
/bin/