<footer class="pyg_footer">
    <a href="/pages/index.html">
        <span class="fa fa-home fa-fw"></span>
        <div class="pyg_footer_sisz">首页</div>
    </a>
    <a href="/pages/classify.html">
        <span class="fa fa-list-ul"></span>
        <div class="pyg_footer_sisz">分类</div>
    </a>
    <a href="javascript:;">
        <span class="fa fa-shopping-cart"></span>
        <div class="pyg_footer_sisz">购物车</div>
    </a>
    <a href="/pages/register.html">
        <span class="fa fa-user-circle-o"></span>
        <div class="pyg_footer_sisz">我的</div>
    </a>
</footer>