<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@@title</title>
    <!-- <link rel="stylesheet" href="../components/header.html"> -->
    <link rel="stylesheet" href="/lib/mui/css/mui.css">
    <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="/css/commonality.css">
    <link rel="stylesheet" href="/css/@@pages.css">
    
</head>